<!DOCTYPE html>
<html>
<head>
    <title>Folder Path Input</title>
</head>
<body>
    <h1>Upload Your CET docx files:</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple required>
        <button type="submit">Upload</button>
    </form>
    {% if error %}
        {% if message %} 
            <p id="error-message" style="color: red;">Errors happen! Please check if your folder path is correct! {{ message }}</p>
        {% endif %}
    {% endif %}
    {% if success %}
            <p id="success-message" style="color: green;">Success! All CET info is created and extracted!</p>
            <div>
                <a href="{{ url_for('download_file' , filename='PRES23_CET_Info.xlsx') }}" style="color: rgb(167, 159, 4);">Download extracted info here</a>
            </div>
    {% endif %}


</body>
</html>